@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100i,300,400,500&display=swap");

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background-color: #111;
  color: white;
}

.dd {
  display: block;
}
.dn {
  display: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: absolute;
  width: 100%;
}
.rel{
  position: relative;
}

.full{
  width:100%;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-size: 3rem;
  position: absolute;
  top: -90px
}

.poster-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 90px;
  max-width: 1400px;
  margin: 200px auto;
  margin-top: 120px
}
.container-input {
  display: flex;
  width: 100%;
  transition: 2s;
}
.left {
  justify-content: flex-start;
}
.center {
  justify-content: center;
}
.input-research {
  height: 50px;
  width: 100%;
  font-size: 40px;
  padding-left: 10px;
  border: none;
}
textarea:focus,
input:focus {
  outline: none;
}

.results-list {
  padding: 0;
  list-style: none;
}
.results-list-item {
  background: none;
  border: none;
  font-size: 20px;
  color: rgb(159, 159, 159);
  transition: 0.3s;
}

.results-list-item:hover {
  color: rgb(65, 65, 65);
  cursor: pointer;
}

.fix {
  width: 100%;
  background: transparent;
  z-index: 99;
  padding: 40px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  /* box-shadow: 10px 0px 10px rgb(104, 104, 104); */
}

.counter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 5px;
  width: 100%;
}
.counter .container-counters {
  display: flex;
  justify-content: space-between;
  width: 65%;
  max-width: 500px;
}
.counter .container-counters > div {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-right: 25px;
  text-align: center;
  position: relative;
  min-height: 150px;

}
.container-counters > div  h1{
  width: 100%;
  margin-top: 10px;
  position: absolute;
  top: 30px
}
.counter h1 {
  color: white;
  margin-bottom: 6px;
  margin-right: 3px;
  font-size: 4rem;
  font-weight: lighter;
  margin-top: -20px
}
.counter p{
  margin-top: 20px;
  width: 100%;
  margin-bottom: -40px;
  font-size: 1.2rem;
  text-transform: capitalize
}

.poster-item {
  margin-right: 20px;
  position: relative;
  word-wrap: break-word;
  width: 150px;
  color: white;
  margin-bottom: 20px;
}

.poster-item .single-counter {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.swiper-wrapper div:first-child{
  margin-left: 30px
}
.img-slide{
  width: 100%;
  opacity: 0.7;
}

.poster-item:hover .img-bk {
  opacity: 0.3;
}

.poster-item:hover .single-counter {
  opacity: 1;
}
.card-number{
  font-size: 1.3rem
}

.img-bk {
  width: 100%;
  height: 225px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.poster-item button {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blue;
  border: none;
  font-weight: bold;
}
.poster-item button:hover {
  cursor: pointer;
}

.poster-item button:visited,
.poster-item button:focus {
  outline: none;
}
.poster-item h3 {
  margin-top: 10px;
  color: white;
}

.ant-select-dropdown {
  z-index: 999;
}

.tooltip {
  position: absolute;
  z-index: 20;
  padding: 5px 10px;
}
.text-tooltip {
  margin: 0px;
  font-size: 17px;
}

.list-movies {
  padding-left: 30px;
}

.btn-hide {
  height: 50px;
  background: blue;
  border: none;
  z-index: 5;
  padding: 0 20px;
  font-size: 30px;
}
.btn-hide:hover {
  cursor: pointer;
}

.anticon {
  display: flex;
}

.ant-select-auto-complete.ant-select .ant-input {
  height: 50px;
  font-size: 24px;
  padding: 15px;
}

.ant-select-auto-complete.ant-select .ant-select-selection--single {
  height: 50px;
  font-size: 24px;
  border-radius: 0;
  border: none;
  border-radius: 50px;
}
.ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
  padding-bottom: 30px;
}
.ant-select-auto-complete.ant-select .ant-input {
  border: none;
}

.ant-select-auto-complete.ant-select .ant-input:focus,
.ant-select-auto-complete.ant-select .ant-input:hover {
  border: none;
  border-right-width: 0;
}

.ant-input .ant-select-search__field,
.ant-select-selection__placeholder,
input {
  text-align: center !important;
}

.ant-select {
  transition: 1.3s;
  width: 100%;
  max-width: 500px;
}

.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.wip {
  position: absolute;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 10;
  background-color: #eeeeee;
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  width: 100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width: 100%;
}

.droppable {
  position: absolute;
  width: 150px;
  height: 100vh;
  right: 0;
  top: 10;
  background-color: #9e9e9e;
  border-left: 1px dotted;
}

.draggable {
  width: 100px;
  height: 300px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}

.container-famous {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  margin-top: 50px;
  box-shadow: 10px 10px 20px black;
  padding: 30px 0;
}

.container-famous .famous-serie {
  display: inline-block;
  height: 229px;
  background-size: cover;
  background-repeat: no-repeat;
}
.famous-serie:hover {
  cursor: pointer;

}

.counter h1 span {
  font-size: 1.2rem;
}

.chart-container {
  height: 85vh;
}
.swiper-container{
  z-index: 0;
}
.container-btn {
  position: fixed;
  bottom: 0;
  background-color: #111;
  box-shadow: -5px -7px 20px black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-group {
  display: flex;
  height: 100%;
  align-items: center;
}

.btn-chart {
  display: flex;
  align-items: center;
  background: blue;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 46px;
  height: 100%;
  text-transform: uppercase;
}
.btn-chart:hover {
  cursor: pointer;
}

.btn-group .btn-chart:nth-child(1) {
  background: royalblue;
}

.small-counter {
  height: 100%;
  padding: 0px 50px;
}

.small-counter .counter {
  margin-bottom: 0;
  margin-top: -16px
}
.small-counter .counter .container-counters div h1 {
  font-size: 1.7rem;
}

.legend {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.legend h3,
.legend p {
  color: white;
  margin-bottom: 0;
}
.displayfree {
  width: 300px;
  display: flex;
  margin-left: 50px;
}
.displayfree h3 {
  margin-right: 30px;
}

div.active {
  background-color: red;
}

.container-days {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 80px;
  padding: 40px 100px;
}
.container-days .day:nth-child(7n) {
  margin-right: 45px;
}

.day {
  width: 10px;
  height: 10px;
  margin: 15px 10px;
  background-color: white;
}
.day.free {
  background-color: transparent;
  border: solid 2px white;
  opacity: 0.8;
}

.day.spent {
  animation-name: squareAnimation;
  animation-duration: 3s;
  border: solid 2px white;
  opacity: 0.3;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background-color: white;
}

.series-counter {
  text-align: center;
  background-color: steelblue;
  height: 100%;
  padding: 10px 20px;
}
.series-counter span {
  font-size: 2rem;
}

@keyframes squareAnimation {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: white;
    opacity: 0.04;
    border: none;
  }
}

.option-bk {
  width: 100%;
  height: 100vh;
  background-color: #111;
  position: absolute;
  z-index: 999999;
  opacity: 0.9;
}
.option {
  color: black;
  width: 50%;
  height: 50vh;
  background-color: #111;
  position: absolute;
  z-index: 9999999;
  transform: translate(50%, 50%);
  box-shadow: 3px 3px 20px black;
  display: flex;
  align-items: center;
}

.option .option-wrapper {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
}
.option-wrapper .group-btn-option {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 40px;
  height: 30px;
  align-items: center;
}
.option-wrapper button {
  background-color: white;
}

.option-wrapper .group-btn-option p {
  margin: 0 20px;
}
.option .text-option h3 {
  color: white !important;
}
.option .setHour-btn {
  margin-left: 40px;
  border-radius: 30px;
  padding: 8px 15px;

  border: none;
}
.number-hour-watched {
  font-size: 2rem;
}

.option p {
  color: white;
}
p {
  margin-bottom: 0;
}
.suggestion h2 {
  color: white !important;
}
.suggestion {
  opacity: 0.8;
  color: white !important;
  margin-left: 20px;
  width: 97%;
  display: flex;
  justify-content: space-between;
}
.suggestion p:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .no-pc {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .full{
    left: 40px;
    font-size: 2rem
  }
  .img-bk{
    opacity: 0.3;
  }
  .single-counter{
    opacity: 1;
  }
  .option .option-wrapper {
    width: 100%;
  }
  .counter-input {
    margin-top: 170px;
    width: 90%;
    margin-left: 20px;
  }
  .list-movies {
    padding-left: 0;
  }
  .btn-chart {
    padding: 0 23px;
  }

  .poster-container {
    padding-left: calc((100% - 200px) / 2);
  }
  .counter {
    position: fixed;
    z-index: 999;
    background-color: #222;
    box-shadow: 3px 3px 20px black;
    top: 0;
    left: 0;
    margin-top: 0;
  }
  .counter .container-counters {
    flex-wrap: wrap;
    width: 80%;
  }

  .counter h1 {
    width: 100%;
    text-align: center;
    width: 100%;
    font-size: 3rem;
  }

  .container-days {
    padding-left: 50px;
    padding-top: 40px;
    margin-top: 120px;
  }
  .legend {
    left: 20px;
    top: 140px;
    flex-wrap: wrap;
  }
  .legend .displayfree {
    margin-left: 0;
  }
  .no-phone {
    display: none;
  }
  .container-btn {
    width: auto;
  }
  .small-counter {
    padding: 0;
  }
  .counter-input .counter {
    display: none;
  }
  .container-days .day:nth-child(7n) {
    margin-right: 0;
  }

  .option .setHour-btn {
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
  }
  .option-wrapper .group-btn-option {
    flex-wrap: wrap;
  }
  .option-wrapper > p {
    margin-top: 50px;
  }
  .option {
    width: 90%;
    transform: translate(5%, 50%);
  }
  .suggestion {
    width: 90%;
  }
  .counter .container-counters > div{
    min-height: 80px;
    margin-right: 0
  }
  .counter p{
    font-size: 1rem
  }
  .container-counters > div h1{
    top: 40px
  }
  .container-famous .famous-serie {
    height: auto!important;
  }
  .small-counter .counter{
    width: 100%;
    padding: 15px 0 30px 0
  }
  .poster-item .single-counter{
    opacity: 1;
  }
  .swiper-wrapper div:first-child{
    margin-left: 0
  }
}
